// Fonts
@import url('https://fonts.googleapis.com/css?family=Yellowtail');

// Fonts
$default: "Roboto", "Helvetica", "Arial", sans-serif;
$display: 'Yellowtail', cursive;

// Colors
$lightGrey: #eeeeee;
$grey: #bdbdbd;
$darkGrey: #1f1f1f;
$blueGrey: #78909c;
$lightPurple: #a9aae9;
$purple: #3F51B5;