// Fonts
@import url('https://fonts.googleapis.com/css?family=Yellowtail');

// Fonts
$default: "Roboto", "Helvetica", "Arial", sans-serif;
$display: 'Yellowtail', cursive;

// Colors
$lightGrey: #eeeeee;
$grey: #bdbdbd;
$darkGrey: #383838;
$blueGrey: #78909c;
$lightGreen: #91cd94;
$green: #4cae51;