// Fonts
$default: "Roboto", "Helvetica", "Arial", sans-serif;

// Colors
$blue: #2096f3;
$lightBlue: #81c2f8;
$lightPurple: #a583ff;
$lightGrey: #eeeeee;
$lightOrange: #ff9e83;
$orange: #ff5721;
$lightIndigo: #8f9bd4;
$grey: #bdbdbd;
$darkGrey: #181818;
$bg: #15163a;