@import './reset';
@import './variables';

body {
    overflow-y: none;
    // background: $bg;
}

hr {
    background: rgba(0, 0, 0, 0.12) !important;
}

* {
    font-family: $default;
}

#closeNav {
    display: flex;
    align-items: center;
    svg {
        margin-left: 1rem;
    }
}