@import './variables';

#snackbar {
    height: 300px;
    width: 100vw;
    bottom: 3rem;
    div.trailer {
        display: flex;
        flex-direction: column;
        button {
            height: 50px;
            width: 25px;
        }
    } 
}
#error-snackbar {
    .MuiSnackbarContent-root-191 {
        background: #b71c1c;
        .MuiSnackbarContent-message-192 {
            #error-id {
                display: flex;
                align-items: center;
                font-size: 1.2rem;

                svg {
                    margin-left: 2rem;
                }
            }
        }
    }
}

body {
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch;
}

#dialog, #tv-dialog {
    max-height: none !important;
    .MuiDialog-container-139.MuiDialog-scrollPaper-137 {
        .MuiPaper-root-12.MuiPaper-elevation24-38.MuiPaper-rounded-13.MuiDialog-paper-140.MuiDialog-paperScrollPaper-141.MuiDialog-paperWidthSm-144.MuiDialog-paperFullScreen-149 {
            max-height: none;
        }
    }
    #app-bar {
        color: white;
        #tool-bar {
            button {
                margin: 0.5rem;
            }
            a {
                text-decoration: none;
                font-size: 1.4rem;
                font-weight: 300;
            }
        }
    }

    .cover {
        height: 100%;
        min-height: 300px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-height: 350px;
    }

    .main-content {
        height: 100%;
        width: 100%;
        position: absolute;
        .content {
            position: absolute;
            min-height: 725px;
            max-height: none;
            width: 100%;
            .movie-content, .tv-content {
                display: flex;
            }
            .poster-container {
                position: absolute;
                top: 25%;
                left: 2rem;
                .poster {
                    height: 350px;
                    width: 250px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-bottom: 1rem;
                }
                button {
                    width: 250px;
                }
            }
            .movie-info, .tv-info {
                margin-right: 2rem;
                position: absolute;
                min-width: 300px;
                top: 64%;
                left: 315px;
                p.runtime-date {
                    margin-bottom: 2rem;
                    color: $grey;
                    span {
                        color: white;
                        background: $grey;
                        padding: 0.5rem 1.5rem;
                        border-radius: 0.5rem;
                        font-size: 0.825rem;
                    }
                }
                p.overview {
                    line-height: 1.6;
                    margin-bottom: 1rem;
                    font-size: 1.2rem;
                    max-width: 90%;
                    color: $darkGrey;
                }
                p.tagline {
                    font-style: italic;
                    font-weight: 300;
                }
                .info {
                    margin-bottom: 4rem;
                }
            }
            .ratings-container {
                padding-bottom: 2rem;
                width: 30%;
                margin-right: 2rem;
                h1 {
                    font-size: 2rem;
                    font-weight: 400;
                    margin-bottom: 2rem;
                    color: $darkGrey;
                }
                .ratings-list {
                    max-width: 350px;
                    .rating {
                        margin-bottom: 2rem;
                        h5 {
                            margin-bottom: 0.5rem;
                            font-weight: 400;
                            color: $blueGrey;
                            font-size: 1.2rem;
                        }
                        p {
                            margin-top: 0.5rem;
                            font-size: 1.1rem;
                            color: $darkGrey;
                        }
                    }
                }
            }
            .actors-container {
                padding-bottom: 2rem;
                min-width: 300px;
                width: 60%;
                h1 {
                    font-size: 2rem;
                    font-weight: 400;
                    margin-bottom: 2rem;
                    color: $darkGrey;
                }
                .actors-list {
                    .actor {
                        margin-right: 4rem;
                        &:last-of-type {
                            margin: 0;
                        }
                        cursor: default;
                        .images {
                            display: grid;
                            grid-template-columns: repeat(auto-fill, 100px);
                            grid-auto-rows: 100px;
                            grid-gap: 4rem;
                            margin-bottom: 0.5rem;
                            .image-container {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                .actor-img {
                                    height: 100px;
                                    width: 100px;
                                    min-width: 100px;
                                    min-height: 100px;
                                    border-radius: 50%;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                            }
                        }
                        .names {
                            display: grid;
                            grid-template-columns: repeat(auto-fill, 100px);
                            grid-gap: 4rem;
                            .name {
                                text-align: center;
                                width: 100px;
                                min-width: 100px;
                                span {
                                    line-height: 1.4;
                                    font-weight: 300;
                                }
                            }
                        }
                    }
                }
            }
            .genres-container {
                
            }
        }

    }
    #tv-info {
        overflow-y: scroll !important;
        -webkit-overflow-scrolling: touch;
    }
    .tv-info {
        max-width: 70%;
        p.overview {
            max-width: 100% !important;
        }
        p.tagline {
            max-width: 100%;
        }
        .tv-content {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            .seasons-container {
                padding-bottom: 2rem;
                h1 {
                    font-size: 2rem;
                    font-weight: 400;
                    margin-bottom: 2rem;
                    color: $darkGrey;
                }
                .seasons-list {
                    display: flex;
                    overflow-x: scroll;
                    -webkit-overflow-scrolling: touch;
                    .season {
                        .img {
                            height: 300px;
                            width: 200px;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
            .genres-container {
                padding-bottom: 1.5rem;
                h1 {
                    font-size: 2rem;
                    font-weight: 400;
                    margin-bottom: 2rem;
                    color: $darkGrey;
                }
                .genre-list {
                    div {
                        margin: 0.5rem;
                        span {
                            
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    #dialog, #tv-dialog {
        .main-content {
            .content {
                .poster-container {
                    position: absolute;
                    top: 20%;
                    left: 50%;
                    transform:translateX(-50%);
                }
                .movie-info, .tv-info {
                    max-width: none;
                    top: 72%;
                    left: 0;
                    margin: 0;
                    padding: 0 2rem;
                    width: 100%;
                    p.overview {
                        min-width: 100%;
                    }
                }
                .tv-info {
                    top: 78%;
                }
                .actors-container {
                    padding-bottom: 2rem;
                    .actors-list {
                        .actor {
                            &:last-of-type {
                                margin: 0;
                            }
                            .images {
                                grid-auto-rows: 100px;
                                grid-template-columns: repeat(auto-fill, 100px);
                            }
                            .names {
                                display: grid;
                                grid-template-columns: repeat(auto-fill, 100px);
                                display: none; // HIDE NAMES FOR NOW
                                grid-gap: 4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #dialog, #tv-dialog {
        .main-content {
            .content {
                .movie-content, .tv-content {
                    flex-direction: column;
                }
                .poster-container {
                    position: absolute;
                    top: 20%;
                    left: 50%;
                    transform:translateX(-50%);
                }
                .movie-info, .tv-info {
                    top: 84%;
                    left: 0;
                    margin: 0;
                    padding: 0 1.5rem;
                    width: 100%;
                    p.overview {
                        min-width: 100%;
                    }
                }

                .ratings-container {
                    width: 100%;
                    margin: 0;
                    .ratings-list {
                        margin: 0;
                    }
                }

                .actors-container {
                    padding-bottom: 2rem;
                    .actors-list {
                        .actor {
                            .images {
                                grid-auto-rows: 100px;
                                grid-template-columns: repeat(auto-fill, 100px);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #snackbar {
        justify-content: flex-start;
        iframe {
            height: 300px;
            width: 100vw;
        }
    }
    #dialog, #tv-dialog {
        .main-content {
            .content {
                .poster-container {
                    position: absolute;
                    top: 20%;
                }
                .movie-info, .tv-info {
                    top: 84%;
                    left: 0;
                    margin: 0;
                    width: 100%;
                    p.overview {
                        min-width: 100%;
                    }
                }
                .actors-container {
                    .actors-list {
                        .actor {
                            .images {
                                grid-gap: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}