@import './reset';
@import './variables';

body {
    overflow-y: none;
}

* {
    font-family: $default;
}

#closeNav {
    display: flex;
    align-items: center;
    svg {
        margin-left: 1rem;
    }
}